<!-- Middle section with changing contents -->
<section class='container-fluid'>
   <div class='row'>
     <!-- left half -->
     <div class='col-sm-8'>
       <div class='row'>
         <!-- A Fantastic engaging headline goes here -->
         <!-- Posted by, Posted on -->
         <!-- @post.user.name, @post.created_at -->
       </div>
       <div class='row'>
         <!-- erb for the latest post -->
         <!-- @post.body -->
       </div>
       <div class='row' 'container-fluid'>
         <!-- the three buttons go here -->
         <a href='#'><button type='button'>Read Comments</button></a>
         <a href='#'><button type='button'>Read Later</button></a>
         <a href='#'><button type='button'>Share This Post</button></a>
       </div>
     </div>
     <!-- right half -->
     <div class='col-sm-4'>

     </div>
   </div>
</section>
