<!DOCTYPE html>
<html>
  <head>
    <title>Surf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Nav</span>
        <span class="icon-bar"></span>
      </button> -->
      <img class="navbar-brand" href="logo-surf-and-paddle.svg">SURF & PADDLE CO BLOG</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <li><a href="#">About</a></li>
        <li><a href="#">Search</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Simple pricing you can understand</h1>
  </div>
</div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <p>The Ironyard Copyright 2013.  All rights reserved</p>
      <div class="container">
        <p>Nav item 1</p>
        <p>Nav item 2</p>
        <p>Nav item 3</p>
        <p>Nav item 4</p>
      </div>
    </footer>
  </body>
</html>
